[defaults]
# Thư mục mặc định để lưu khóa SSH, inventory
inventory = ./hosts                                         # Đường dẫn đến file inventory
remote_user = jason                                         # User mặc định cho SSH
host_key_checking = False                                   # Tắt kiểm tra host key
private_key_file = ~/.ssh/id_rsa                            # Đường dẫn file private key
deprecation_warnings = False                                # Ẩn cảnh báo cũ không cần thiết
# timeout = 60                                                # Thời gian chờ kết nối SSH

[ssh_connection]
# Tối ưu kết nối SSH
ssh_args =  -o HostKeyAlgorithms=ssh-ed25519,ecdsa-sha2-nistp256,ssh-rsa \
            -o ControlMaster=auto \
            -o ControlPersist=60s \
            -o IdentityFile=~/.ssh/id_rsa \
            -o PasswordAuthentication=no

# control_path = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining = True                                           # Bật pipelining để tăng tốc độ thực thi
